    <body bgcolor=white onload = "JavaScript:AutoRefresh(30000);" text='white'>
        <center>
        <table style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%;" border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
         <tr>
        <td style="width: 30%; background-color: #363949; border-right: 2px solid #1c1f28;">&nbsp;</td>
        <td style="min-width: 800px;  background-color: #252833; vertical-align: top; ">
                <table>
                    <tr>
                        <td>
                                <p style="font-size: 24pt;margin:0;margin-left:10;">Pytorch Dashboard</p>
                
                        </td>
                        <td>
                                <img src="current/epochout.png" style="margin:0;float: right; margin-right:10;">
                                <br><br>
                        </td>
                    </tr>
    
                </table>

                <center>
                <table style="width: 100%;margin-left: auto; margin-right: auto;" border="0">
                    <tr>
                        <td>
                                <center>
                   <p style="font-size: 11pt;margin:0;margin-right:10;margin-left:10; background: #363949; padding: 2px;">
                   Epoch: <font color="#fddc53">{vepoch:}&emsp;</font> Accuracy: <font color="#fd411e">{vepoch_acc:.3f}&emsp;</font> Best Accuracy: <font color="#fd411e">{vbest_acc:.3f}&emsp;</font> Loss: <font color="#0d75f8">{vepoch_loss:.2f}&emsp;</font> Learning Rate: <font color="#c8fd3d">{vepoch_lr:.3f}&emsp;</font> Bad Epochs: <font color="#c875c4">{vbad_epochs:}</font>
                   </p>
                </td>
            </tr>
          </table>
          <BR>


                
            <table style="margin-left: auto; margin-right: auto;" border="0">
                <tr >
                    
                        <td><center><img src="current/plot1.png" width='95%'></td>
                        <td><center><img src="current/plot2.png" width='95%'></td>
                </tr>
            <tr style="margin-left: auto; margin-right: auto;" border="0">
                        <td><center><img src="current/plot3.png" width='95%'></td>
                        <td><center><img src="current/plot4.png" width='95%'></td>
                    
                </tr>
         
            </table><br>
            <table style="margin-left: auto; margin-right: auto; " border="0">
                    <tr>
                            <center>
                            <td><center>
                                
                                <img src="current/cat.png" width='22%'>
                                <img src="current/cow.png" width='22%'>
                                <img src="current/dog.png" width='22%'>
                                <img src="current/sheep.png" width='22%'>
                                <br><br>
                                <img src="current/eagle.png" width='22%'>
                                <img src="current/goat.png" width='22%'>
                                <img src="current/horse.png" width='22%'>
                                <img src="current/pig.png" width='22%'>
                                
                            </td>
                            
                        
                    </tr>
            </table>
            </center>
        
    </td>
        <td style="width: 30%; background-color: #363949; border-left: 2px solid #1c1f28;">&nbsp;</td>
        </tr>
        </tbody>
        </table>
        </center>
    </body>
</html>